@font-face {
  font-family: 'Roboto';
  src: url('../resources/Roboto-Regular.woff2') format('woff2'),
    url('../resources/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

p, h1, h2, h3, input, div, aside, svg, body {
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
  color: var(--primary-color1);
}

a:visited {
  text-decoration: none;
  color: var(--primary-color2);
}

:root {
  --hue: 133;

  --background-dark-color1: hsl(var(--hue), 2%, 12%);
  --background-dark-color2: hsl(var(--hue), 2%, 14%);
  --background-dark-color3: hsl(var(--hue), 2%, 16%);

  --border-dark-color: hsl(var(--hue), 2%, 22%);

  --text-dark-color1: hsl(var(--hue), 2%, 85%);
  --text-dark-color2: hsl(var(--hue), 2%, 75%);

  --primary-color1: hsl(var(--hue), 45%, 35%);
  --primary-color2: hsl(var(--hue), 55%, 45%);

  --semantic-red-color: hsl(12, 70%, 55%);

  --book-border-radius: 20px;

  color: var(--text-dark-color1);
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--background-dark-color1);
  min-height: 100vh;
  display: flex;
}

.page-title {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 auto;
  border-right: 3px var(--border-dark-color) solid;
}

.page-title h1 {
  font-size: 1.75rem;
}

.lib-container {
  padding: 2rem;
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-dark-color2);
}

.library {
  background-color: var(--background-dark-color3);
  border-radius: var(--book-border-radius);
  border: 3px var(--border-dark-color) solid;
  font-size: 0.75rem;
  width: 90%;
  padding: 1rem;
  box-shadow: 0px 15px 5px -5px var(--background-dark-color1);
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit ,minmax(180px, 275px));
  grid-auto-rows: 200px;
  gap: 0.75rem;
}

.book {
  height: 100%;
  width: 100%;
  padding: 16px;
  gap: 10px;
  box-sizing: border-box;
  background-color: var(--primary-color1);
  display: flex;
  border-radius: var(--book-border-radius);
  box-shadow: 0px 10px 15px -5px hsla(var(--hue), 20%, 50%, 40%);
}

.book * {
  text-align: center;
}

.trash {
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--book-border-radius);
  transition: ease-in-out 125ms;
  fill: white;
}

.trash:hover {
  background-color: var(--semantic-red-color);
}

.trash,
.read-container {
  flex: 1;
}

.read-container {
  padding: 10px;
  border-radius: var(--book-border-radius);
  box-sizing: border-box;
  display: flex;
  align-content: center;
  justify-content: center;
  transition: ease-in-out 125ms;
}

.read-container:hover {
  background-color: var(--primary-color2);
}

.read {
  width: auto;
  height: auto;
}

.utils {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 2;
}

.utils * {
  flex: 1;
  width: 100%;
}

.title {
  font-size: 1.2rem;
  color: var(--text-dark-color1);
}

.author, .pages {
  color: var(--text-dark-color2);
  font-size: 0.9rem;
  font-weight: 300;
}

.book-container {
  flex: 6;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.add {
  align-self: stretch;
}

#include {
  width: 100%;
  height: 100%;
  border-radius: var(--book-border-radius);
  font-size: 4rem;
  font-weight: 100;
  background-color: transparent;
  border: 5px var(--primary-color1) solid;
  color: var(--primary-color1);
  transition: ease-in-out 75ms;
}

#include:hover {
  color: var(--background-dark-color3);
  background-color: var(--primary-color1);
}

#include:active {
  border-color: var(--primary-color2);
  color: var(--background-dark-color1);
  background-color: var(--primary-color2)
}

path, .book-container {
  pointer-events: none;
}